<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Customer</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-11">
        <form action="" class="search-form">
          <div class="form-group has-feedback">
            <label for="search" class="sr-only">Search</label>
            <input class="form-control" name="search" id="search " type="text" [(ngModel)]="searchText" placeholder="Search" required>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>
      </div>
      <div class="col-sm-1">
        <i *ngIf="!showRefresh" class="fa fa-refresh fa-2x fa-fw" style="cursor: pointer; color:#d34615" aria-hidden="true" (click)="getCustomers()"></i>
        <i *ngIf="showRefresh" class="fa fa-spinner fa-pulse fa-2x fa-fw" style="cursor: pointer; color:#d34615" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create new a customer</h4>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="addCustomer()" #formAddCustomer="ngForm">
            <div class="row">
              <div class="col">
                <label>Họ và tên</label>
                <input class="form-control" name="tendaydu" type="text" [(ngModel)]="customer.TenDayDu" required />
              </div>
              <div class="col">
                <label>Tên viết tăt</label>
                <input class="form-control" name="tenviettat" type="text" [(ngModel)]="customer.TenVietTat" required />
              </div>
            </div>
            <label>Người liên hệ</label>
            <input class="form-control" name="ngoilienhe" type="text" [(ngModel)]="customer.NguoiLienHe" required />
            <label>Địa chỉ</label>
            <input class="form-control" name="diachi" type="text" [(ngModel)]="customer.DiaChi" required />
            <div class="row">
              <div class="col">
                <label>Điện thoại</label>
                <input class="form-control" id="phone" name="phone" type="text" [(ngModel)]="customer.DienThoai" #phone="ngModel" required
                  pattern="^[0-9]{6,11}$" />
                <div [hidden]="phone.valid || phone.untouched">
                  <div style="color: red" *ngIf="phone.errors && phone.errors.pattern">
                    Số điện thoại không hợp lệ, vui lòng kiểm tra lại
                  </div>
                </div>
              </div>
              <div class="col">
                <label>Fax</label>
                <input class="form-control" id="sofax" name="sofax" type="text" [(ngModel)]="customer.SoFax" #sofax="ngModel" required pattern="^\+?[0-9]{7,}$"
                />
                <div [hidden]="sofax.valid || sofax.untouched">
                  <div style="color: red" *ngIf="sofax.errors && sofax.errors.pattern">
                    Số fax không hợp lệ, vui lòng kiểm tra lại
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Email</label>
                <input class="form-control" id="email" name="email" type="email" [(ngModel)]="customer.Email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                />
                <div [hidden]="email.valid || email.untouched">
                  <div style="color: red" *ngIf="email.errors && email.errors.pattern">
                    Email không hợp lệ, vui lòng kiểm tra lại
                  </div>
                </div>
              </div>
              <div class="col">
                <label>Website</label>
                <input class="form-control" name="website" type="text" [(ngModel)]="customer.Website" required />
              </div>
            </div>
            <label>Mô tả tóm tắt</label>
            <textarea class="form-control" name="motatomtat" type="text" [(ngModel)]="customer.MoTaTomTat" required rows="2"></textarea>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label>Chi nhánh</label>
                  <select class="form-control" name="chinhanh" [(ngModel)]="customer.ThuocChiNhanh" required>
                    <option value="">---Lựa chọn đơn vị---</option>
                    <option *ngFor="let item of chiNhanh" value="{{item}}">{{item}}</option>
                  </select>
                </div>
                <div class="col">
                  <label>Đợn vị kinh doanh</label>
                  <select class="form-control" name="donvi" [(ngModel)]="customer.ThuocDonViKD" required>
                    <option value="">---Lựa chọn chi nhánh---</option>
                    <option *ngFor="let item of donviKD" value="{{item}}">{{item}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="khTiemNang" name="khTiemNang" [(ngModel)]="customer.LaKHTiemNang">
                <label class="custom-control-label" for="khTiemNang">Khách hàng tiềm năng</label>
              </div>
            </div>
            <div class="modal-footer">
              <div>
                <button class="btn btn-primary " type="submit" [disabled]="formAddCustomer.invalid">Add</button>
                <button class="btn btn-default" type="button" data-dismiss="modal" #closeBtn>Close</button>
              </div>
              <i *ngIf="showSpinner" class="fa fa-spinner fa-spin" style="font-size:25px"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-hover ml-3 mr-3 mt-3" id="dataTable">
    <thead>
      <tr>
        <th>ID
          <span class="badge badge-primary">Tổng {{customers?.length}}</span>
        </th>
        <th (click)="getFieldOrderBy('TenVietTat')" (click)="ChangeAscending()">Họ và Tên
          <i *ngIf="ascending" class="fa fa-sort-desc" aria-hidden="true"></i>
          <i *ngIf="!ascending" class="fa fa-sort-asc" aria-hidden="true"></i>
        </th>
        <th (click)="getFieldOrderBy('TenVietTat')">Tên Viết Tắt
        </th>
        <th (click)="getFieldOrderBy('DienThoai')">Điện Thoại</th>
        <th (click)="getFieldOrderBy('Email')">Email</th>
        <th (click)="getFieldOrderBy('ThuocDonViKD')">ĐV Kinh Doanh</th>
        <th (click)="getFieldOrderBy('ThuocChiNhanh')">Chi Nhánh</th>
        <th (click)="getFieldOrderBy('LaKHTiemNang')" class="text-center">KH Tiềm Năng</th>
        <!-- Trigger the modal with a button -->
        <th class="text-center">
          <a href="" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-user-plus" aria-hidden="true" click='getValue($event, type)'> Add Customer </i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let customer of customers | filter: searchText| paginate: { itemsPerPage: 5, currentPage: p } | orderBy : order : ascending">
      <tr>
        <td>
          <a routerLink="/customers/detail/{{customer._id}}">{{customer._id}}</a>
        </td>
        <td>{{customer.TenDayDu}}</td>
        <td>{{customer.TenVietTat}}</td>
        <td>{{customer.DienThoai}}</td>
        <td>{{customer.Email}}</td>
        <td>{{customer.ThuocDonViKD}}</td>
        <td>{{customer.ThuocChiNhanh}}</td>
        <td class="text-center">
          <i *ngIf="customer.LaKHTiemNang" class="fa fa-star" aria-hidden="true"></i>
          <i *ngIf="!customer.LaKHTiemNang" class="fa fa-star-o" aria-hidden="true"></i>
        </td>
        <td class="text-center">
          <a routerLink="/customers/detail/{{customer._id}}" data-original-title="Edit this user" data-toggle="tooltip" class="text-primary">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
          </a>
          <a style="cursor: pointer" (click)="deleteCustomer(customer._id)" data-original-title="Remove this user" data-toggle="tooltip" class="text-danger">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <ul class="pager">
      <pagination-controls *ngIf="customers" class="my-pagination" (pageChange)="p = $event" (click)="goToCurrenPage(p)" autoHide="false"></pagination-controls>
    </ul>
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  </div>

  <!-- format pagination -->
</body>

</html>